Repository patricksalmeida/fc3-gitops, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devops

Update test_labeler.md
  docs/test_labeler.md
Labels: documentation

Bump docker version
  k8s/kustomization.yaml
Labels: devops

Update main.go
  main.go
Labels: none

ci: testing enhancement labeler
  .github/workflows/enhancement-labeler.yml
  Dockerfile
Labels: devops

ci: add filter head
  .github/workflows/enhancement-labeler.yml
Labels: none

ci: add log to head
  .github/workflows/enhancement-labeler.yml
Labels: none

ci: comment type
  .github/workflows/enhancement-labeler.yml
Labels: none

ci: add ref value
  .github/workflows/enhancement-labeler.yml
Labels: none

ci: add another labels possibilities
  .github/workflows/enhancement-labeler.yml
Labels: none

ci: add base log
  .github/workflows/enhancement-labeler.yml
Labels: none

Bump docker version
  k8s/kustomization.yaml
Labels: devops

.github/labeler.yml:

documentation:
- docs/*
- README.md

devops:
- k8s/*
- Dockerfile
